.thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 80px 85px;

    @media (max-width: 768px) {
        padding: 70px 20px;
    }
}

.title {
    max-width: 425px;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-deep-teal);
    letter-spacing: 1px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.text {
    max-width: 425px;
    font-size: var(--font-body-2);
    text-align: center;
    color: var(--color-dark-green);
    margin-bottom: 40px;
}