.select {
   position: relative;
    width: 100%;
}

.trigger {
  width: 100%;
  text-align: left;
  background: #fff;
  height: 50px;
  border: 1px solid rgba(22, 41, 41, 0.25);
  border-radius: 6px;
  padding: 14px 16px;
  display: flex; justify-content: space-between; align-items: center;
  cursor: pointer;

  &.filled {
    background-color: #FAFAFA;
  }
}

.placeholder { 
  color: #9ca3af;
}

.menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0; right: 0;
  background: var(--color-white);
  border: 1px solid #1629294D;
  border-radius: 6px;
  max-height: 260px; overflow: auto;
  z-index: 999;
  padding: 4px; 
}

.option { 
  padding: 10px 16px;
  border-radius: 8px; 
  cursor: pointer;
  font-weight: 400;
}

.icon {
  display: inline-flex;
  transition: transform 0.25s ease, opacity 0.25s ease;

  svg path {
    transition: fill-opacity 0.25s ease;
  }

  &.open {
    transform: rotate(180deg);

    svg path {
      fill-opacity: 1;
    }
  }
}

.option:hover { 
  background: #FAFAFA;
}

.active { 
  color: var(--color-dark-green); 
  font-weight: 500;
}

.invalid .trigger { 
  border-color: var(--color-danger);
}
