.section {
    padding: 125px 0;
    background: url("/fin-aBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
    @media (max-width: 768px) {
        padding: 70px 0;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.title {
    color: var(--color-deep-teal);
    text-align: center;
    margin-bottom: 20px;

    strong {
        font-weight: 600;
        color: var(--color-amber-glow);
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    gap: 10px;

    p {
        text-align: center;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    margin-top: 40px;
    max-width: 810px;
    border-radius: 16px;
    border: 1px solid var(--color-white);
    background: rgba(230, 145, 56, 0.15);
    box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.08);
    backdrop-filter: blur(10px);

    @media (max-width: 575px) {
        padding: 16px;
        margin-top: 50px;
    }
}

.item {
    padding: 24px;
    border-radius: 10px;
    border: 1px solid var(--color-white);
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.08);
    backdrop-filter: blur(10px);
    text-align: center;
    color: var(--color-dark-green);

    p {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    strong {
        font-weight: 600;
    }
}

.image {
    width: 100%;
    height: 1200px;
    margin-bottom: 100px;

    @media (max-width: 768px) {
        height: auto;
    }

    .lottie {
        height: 100%;
    }
}

.subtext {
    font-size: var(--font-body-2);
    color: var(--color-dark-green);
    margin-top: 10px;
    text-align: center;
}